@font-face {
    font-family: 'MCfont';
    src: url('./fonts/Minecraft.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'MCfontBold';
    src: url('./fonts/Minecraft-Bold.otf');
}

:root {
    --theme-white: #ffffff;
    --primary: #00aa00;
    --primary-light: #f5fbef;
    --theme-black-100: #090a0b;
    --theme-black-50: #6b717e;
    --theme-black-25: #bdc0c7;
    --default-pad: 20px;
}

body {
    background-color: var(--primary-light);
}

/* -----------------LAYOUT -------------------*/

/* HEADER MODULE */
.header {
    height: 400px;
    display: flex;
    flex-direction: column;
}

.header > div {
    flex: 1;
    width: 100%;
    margin: auto;
    text-align: center;
    
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.header > div:first-of-type {
    flex: 0
}

div.button-tray {
    align-items: end;
    padding: var(--default-pad) 0;
}

.button-tray > button {
    display: flex;
}

.button-tray-item > img {
    height: 40px;
}

/* ---------------- STYLES -------------------*/
* {
    padding: 0;
    margin: 0;
    /* border: solid 1px red; */
}

/* HEADER MODULE */
.header {
    font-family: 'MCfontBold', 'Courier New', Courier, monospace;
    color: var(--theme-white);
    font-size: 3em;
    background-image: url('./background_images/minecraft-cottagecore.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    filter: contrast(200%);
}

.header > div {
    backdrop-filter: blur(4px);
}

.button-tray > button {
    border: none;
    background-color: transparent;
    filter: invert(0.6);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.button-tray > button:hover {
    scale: 1.2;
    filter: invert(0.82);
}

.button-tray > button:active {
    scale: 1;
    filter: invert(0.82);
}

/* HOME MODULE */