@font-face {
    font-family: 'MCfont';
    src: url('./fonts/Minecraft.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'MCfontBold';
    src: url('./fonts/Minecraft-Bold.otf');
}

:root {
    --theme-white: #ffffff;
    --primary: #00aa00;
    --primary-light: #f5fbef;
    --theme-black-100: #090a0b;
    --theme-black-50: #6b717e;
    --theme-black-25: #bdc0c7;
    --default-pad: 20px;
}

body {
    background-color: var(--primary-light);
}

/* -----------------LAYOUT -------------------*/

/* HEADER  and FOOTER MODULE */
.header {
    height: 400px;
    display: flex;
    flex-direction: column;
}

.header > div,
.footer {
    flex: 1;
    width: 100%;
    margin: auto;
    text-align: center;
    
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.header > div:first-of-type {
    flex: 0
}

.footer {
    margin-top: var(--default-pad);
    padding: 10px 0;
    gap: var(--default-pad);
}

.button-tray > button {
    display: flex;
}

.button-tray-item > img,
.footer > a > img {
    height: 40px;
}

/* HOME MODULE */
.home-content {
    padding: calc(2*var(--default-pad)) 5%;
    margin: auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: calc(2*var(--default-pad));
}

.hero-desc,
.card-holder,
.quote {
    display: flex;
    flex-direction: column;
    gap: var(--default-pad);
}

.card-holder {
    padding: 5%;
    gap: calc(2*var(--default-pad));
    align-items: center;
}

.card-holder > .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--default-pad)
}

.cardImg {
    flex: none;
    height: auto;
    width: 100px;
    max-height: 200px;
}

@media only screen and (min-width: 900px) {
    .card-holder.pitch-area,
    .card-holder.review-area {
        flex-direction: row;
        align-items: start;
    }

    .card-holder.hero {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

/* ---------------- STYLES -------------------*/
* {
    padding: 0;
    margin: 0;
    font-family: 'MCfont', 'Courier New', Courier, monospace;
    /* border: solid 1px red; */
}

button {
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

/* HEADER MODULE */
.header {
    font-family: 'MCfontBold', 'Courier New', Courier, monospace;
    color: var(--theme-white);
    font-size: 3em;
    background-image: url('./background_images/minecraft-cottagecore.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    filter: contrast(200%);
}

.header > div {
    backdrop-filter: blur(4px);
}

.button-tray > button {
    border: none;
    background-color: transparent;
    filter: invert(0.6);
}

.button-tray > button:hover {
    scale: 1.2;
    filter: invert(0.82);
}

.button-tray > button:active {
    scale: 1;
    filter: invert(0.82);
}

/* HOME MODULE */
.home-content {
    font-family: 'MCfont', 'Courier New', Courier, monospace;
    font-size: 1.3rem;
}

.home-content > div {
    border-radius: 10px;
}

.hero {
    background-color: var(--theme-white);
    color: var(--theme-black-100);
    border: solid 3px var(--primary);
}

.pitch-area {
    background-color: var(--primary);
    color: var(--theme-white)
}

.title {
    font-family: 'MCfontBold', 'Courier New', Courier, monospace;
}

.review-area {
    color: var(--theme-black-100);
    background-color: var(--theme-white);
}

#book {
    font-family: 'MCfont', 'Courier New', Courier, monospace;
    font-size: 1.3rem;
    margin: auto;
    color: var(--theme-white);
    background-color: var(--theme-black-50);
    height: 50px;
    width: 200px;
}

#book:hover {
    scale: 1.05
}

.footer {
    background-color: var(--theme-black-100);
    color: var(--theme-white);
}